@charset "UTF-8";

//******************/
//* variable */
//******************/

//main width
$_pcWidth: 1024;
$_spWidth: 750;

//media screen width
$_mediaScreenWidth: 768;

//画像パス
$_imgPath: "../images/";

// ベースのフォントサイズ
$_baseFontSizeNum: 16;
